<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.batis.mapper">
    <select id="selAll" resultType="com.batis.pojo.Account">
        select * from account
    </select>
    <select id="selOne" parameterType="int" resultType="com.batis.pojo.Account">
        select * from account where id = 1
    </select>
</mapper>
